.filter-form-container{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 10px 10px;
}
.filter-form-filters{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
}
.filter-form-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: rgb(185, 182, 182) !important;
}
.filter-form-title{
    margin-left: 5px !important;
    font-size: 16px !important;
    color:rgb(61, 61, 61) !important;
    
}
.filter-icon button:focus {
  outline: none;
}


.down-arrow{
    outline:none !important;
}

