.background {
    width: 100%;
    height: 550px;
    background-color: #686363;    
}

.carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.image-box {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    
}.image-slide {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.central-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Headline-container {
    
    width: 600px;
    max-width: 600px;
    padding: 10px 20px;
    box-sizing: border-box;/*padding incluso nei 600 px, non sfora*/
    
}
.image-script {
    max-width: 100%;
    text-align: center;
    font-size: 2.5em !important;
    color: white !important;
    font-weight: bolder !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

.search-box {
    width: 570px;
    height: 65px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px 0 30px;
}

.search-input {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 1.2em !important;
    font-weight: lighter !important;
    
}

.search-button {
  width: 55px !important;
  height: 55px !important;
  background-color: rgb(193, 193, 193) !important;
  
}

.search-icon {
    font-size:30px !important;
    
    
}