.navbar {
    width: 100vw;
    height:75px;
    align-items: center;
    background-color: #f47520 !important;
}

.navbar-container{
    width: 100%;
    max-width: 1240px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    gap:1em;
}


.navbar-logo-text{
    font-size: 36px !important;
    font-weight: bold !important;
    color: white;  
}
.navbar-logo-text:hover{
    color: inherit !important;
}
.nav-right-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
        
}
.login-button{
    height: 45px !important;
    width: 100px !important;
    background: #ffffff !important;
    color: #f47520 !important;
    text-align: center !important;
    transform: 0.7 ease;
    border-radius: 30px !important;
    text-transform: none !important;/*di default il button di mui ha l'uppercase*/
    font-size: 16px !important;
}

.login-button:hover{
    border: 2px solid #ffffff !important;
    background: #f47520 !important;
    color: #ffffff !important;
    transform: 0.7 ease !important;
}

.nav-language{
    width: 130px;
    height: 45px;
    border-radius: 30px !important;
    background-color: inherit;
    border: 2px solid #ffffff;
    color:rgb(255, 255, 255) !important;
    font-size: 16px !important;
    text-align: center !important;
    
    
}
.nav-search-box {
    width: 400px;
    height: 45px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 30px;
}

.nav-search-input {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 16px !important;
    font-weight: lighter !important;
    
}

.nav-search-button {
  width: 40px !important;
  height: 40px !important;
  background-color:#ffffff !important;
  margin-right: 8px !important;
  outline: none !important;
  
}

.nav-search-icon {
    font-size:35px !important;
    color: #f47520 !important;
}
